<!DOCTYPE html>
<html>
<head>
    <title>PyShop</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="{{ static_url('pyshop:static/favicon.ico') }}" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />

    <link rel='stylesheet' type='text/css'
        href='http://fonts.googleapis.com/css?family=Cantarell:regular,bold&subset=Latin'>
    <link rel='stylesheet' type='text/css'
        href='http://fonts.googleapis.com/css?family=Open+Sans:regular,bold'>
    <script type="text/javascript"
        src="{{ static_url('pyshop:static/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ static_url('pyshop:static/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    {% block header %}{% endblock %}
</head>
<body class="{% block css_section%}{% endblock%}">
    {% block body %}
    {% endblock %}
</body>
</html>
