{% extends "/shared/form_layout.html" %}

{% block css_section %}login{% endblock %}

{% block form %}
    <h1>pyshop</h1>

    {% if errors %}
        {%for errormessage in errors %}
            <div class="error">
                <span>{{ errormessage }}</span>
            </div>
        {% endfor %}
    {% endif %}

    <ul>
        <li>
            <label>Login:</label>
            <input name="user.login" type="text" value="{{user.login}}">
        </li>
        <li>
            <label>Password:</label>
            <input name="user.password" type="password">
        </li>
    </ul>
{% endblock %}

{% block form_buttons %}
<footer>
    <button name="form.submitted" class="primary">
        <span>Submit</span>
    </button>
</footer>
{% endblock %}
