{% extends "/shared/layout.html" %}

{% block header %}
    <link href="{{ static_url('pyshop:static/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block css_section %}login{% endblock %}


{% block main %}

<form  class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
    {% if errors %}
        {%for errormessage in errors %}
            <div class="alert alert-danger"> {{ errormessage }} </div>
        {% endfor %}
    {% endif %}
        <input type="text"  name="user.login"class="form-control" placeholder="Login" required autofocus>
        <input type="password" name="user.password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="form.submitted">Sign in</button>

</form>

{% endblock %}
