{% if has_page %}
<ul class="pagination">
    {% if paging.no > 1 %}
       <li><a href="{{ route_url(paging.route, page_no=(paging.no - 1), **paging.kwargs)}}?{{paging.qs}}"> &laquo; </a></li>
       {% else %}
       <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for p in range(paging.no|round(-1, 'floor')|int, paging.no|round(-1, 'floor')|int +10) %}
      {%if 0 < p <= paging.max %}
        {%if paging.no == p %}
        <li class="active"><a href="#">{{p}}</a></li>
        {% else %}
        <li><a href="{{ route_url(paging.route, page_no=p, **paging.kwargs)}}?{{paging.qs}}">{{p}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if paging.no < paging.max %}
        <li><a href="{{ route_url(paging.route, probe_id=probe_id, page_no=(paging.no + 1))}}?{{paging.qs}}"> &raquo; </a></li>
       {% else %}
        <li class="disabled"> <a href="#">&raquo; </a></li>
    {% endif %}
</ul>
{% endif %}
