$background-color       : #fefefe;
$border-color           : #36A;
$font                   : DejaVu, Arial, Helvetica, Sans-Serif;
$font-size              : 10pt;
$table-border-color     : #AAA;
$title-color            : #04327E;
$link-color             : #04327E;
$input-border-color     : #36A;
$button-color           : #99A;
$button-border-color    : #36A;
$primary-button-color   : #36D;
