$font                   : DejaVu, Arial, Helvetica, Sans-Serif;
$font-size              : 10pt;
$color                  : #136;
$background-color       : #fefefe;
$border-color           : #36A;
$table-border-color     : #AAA;
$title-color            : #04327E;
$link-color             : #04327E;
$input-border-color     : #36A;
$button-color           : #99A;
$button-border-color    : #36A;
$primary-button-color   : #27B;
$alt-color              : #083;
$alt-background-color   : #5B2;
$hilight-color          : #4AD;
