$background-color       : #fefefe;
$border-color           : #360;
$font                   : DejaVu, Arial, Helvetica, Sans-Serif;
$font-size              : 10pt;
$table-border-color     : #ccc;
$title-color            : #04327E;
$link-color             : #04327E;
$button-color           : #AAA;
$primary-button-color   : #64db36;
