@mixin reset($height: 1em, $padding: 0, $margin: 0) {
    height: $height;
    line-height: $height;
    padding: $padding;
    margin: $margin;
}


@mixin border-radius($tl, $tr, $br, $bl) {
  border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
}

@mixin transition($property: background-color, $duration: .3s, $time-fun: ease-in) {
    -webkit-transition: $property $duration $time-fun;
    -moz-transition: $property $duration $time-fun;
    -o-transition: $property $duration $time-fun;
    transition: $property $duration $time-fun;
}

