html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: $font-size;
    overflow: hidden;
    color: $color;
}

html, body, input, a, button {
    font-family: $font;
    outline: none;
}

button, input, select[multiple], textarea {
    background-color: $background-color;
    border: 1px solid $body-border-color;
    vertical-align: center;
    @include border-radius(3px);
}

button {
    margin: 0;
    padding: 1px 1em;
    background-color: $button-color;
    border-color: $button-border-color;
    line-height: 1.4em;
    transition: line-height 0.2s linear 0s, box-shadow 0.2s linear 0s
}

button.primary {
    background-color: $primary-button-color;
}

button::-moz-focus-inner {
    border:0;
    padding:0;
}

h4 {
    font-size: 1em;
    margin: .2em 0 2em;
    padding: 0;
    border: 0 solid gray;
    border-width: 0 0 1px 0;
}

h6 {
    font-size: 1em;
    margin: .2em 0;
    padding: 0;
}

table {
    width: 80%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    th {
        background-color: #444;
        color: #BBB;
        border: 0 solid #BBB;
        border-width: 0 1px;
    }
    td {
        border: 0 solid $table-border-color;
        border-width: 1px 0;
        padding: 3px;
        background-color: #DDD;
        a {
            display: block;
        }
    }
    td.num {
        text-align: right;
    }
}

a, a:visited {
    text-decoration: none;
    color: $link-color;
}

a:hover {
    text-decoration: underline;
    color: $link-color;
}

form, fieldset {
    display: block;
    border: none;
}

input, textarea {
    border: 1px solid $input-border-color;
}

textarea {
    display: block;
    width: 100%;
    min-height: 450px;
}

:focus {
    outline: 0;
}

input[type=text],
input[type=password],
textarea {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
button:hover {
    border-color: $hilight-color;
    box-shadow: 0px 0px 6px $hilight-color;
}
