body {
    > header {
        margin: 0;
        padding: 0;
        position: relative;
        height: 6em;
        background-color: #111;
        color: #BBB;
        h1 {
            padding: 0;
            margin: 0 .4em;
            display: inline-block;
            line-height: 2em;
            a {
                display: inline-block;
                vertical-align: bottom;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        figure {
            float: right;
            white-space: no-wrap;

            @include reset(1em, 1em);

            a:before {
                content: "|";
            }
            a[rel="username"]:before {
                content: "";
            }
        }
        a, a:active, a:visited, a:hover {
            color: #40CCFF;
        }
        .mainnav {
            float: right;
            clear: both;
            padding: 0 1em;
        }

        .subnav {
            clear: both;
            float: left;
            &:before {
                content: "»";
            }
            a:after {
                content: "»";
            }
            a {
                display: inline-block;
            }
            h2 {
                @include reset;
                display: inline-block;
            }
        }

        .toolbar {
            float: left;
            padding: 0 2em;
            font-weight: bold;
            color: #4AD;
            a {
                display: inline-block;
                font-weight: normal;
                vertical-align: bottom;
                background-color: #4AD;
                color: black;
                padding: 2px 5px;
                border-radius: 3px;
            }
        }

    }

    > .main {
        width: 100%;
        overflow: auto;
        position:absolute;
        top: 6em;
        bottom: 1.6em;
        margin :0;
        background-color: #F4F4F4;
        .page {
            padding: 1em;
        }
    }
    > footer {
        position: absolute;
        display:block;
        width: 100%;
        bottom: 0;
        background-color: #111;
        color: #BBB;
        @include reset(1.6em);
        div {
            display: inline-block;
            vertical-align: middle;

            a, a:active, a:visited, a:hover {
                color: #40CCFF;
            }

        }
    }
}
