form {

    li {
        list-style: none;
        padding-top: 1em;
    }

    footer {
        width: 80%;
        margin: 10px auto;
        text-align: center;

        button {
            display: inline-bock;
        }
    }
}