form {
    width: 500px;
    max-width: 80%;
    border: 1px solid gray;
    li {
        list-style: none;
        padding-top: 1em;

        label {
            width: 25%;
            white-space: nowrap;
            display: inline-block;
        }
        input {
            width: 50%;
            white-space: nowrap;
            display: inline-block;
        }

        input.long {
            width: 70%;
            white-space: nowrap;
            display: inline-block;
        }

    }

    footer {
        width: 80%;
        margin: 10px auto;
        text-align: center;

        button {
            display: inline-bock;
        }
    }
}


body.login {
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 400px;
        min-height: 300px;
        margin-top: -150px;
        margin-left: -150px;
        border: 1px solid $border-color;
        border-radiuse: 5px;

        h1 {
            font-size: 2em;
            padding: 0 1.5em;
        }

        ul {
            padding: 0 3em;
        }
    }
}

body.delete {
    form {
        border: none;
    }
}
