form {

    width: 500px;
    max-width: 80%;
    border: 1px solid $border-color;
    @include border-radius(5px, 5px, 5px, 5px);

    li {

        list-style: none;
        padding-top: 1em;

        label {
            width: 25%;
            white-space: nowrap;
            display: inline-block;
        }

        input {
            width: 50%;
            white-space: nowrap;
            display: inline-block;
            @include border-radius(2px, 2px, 2px, 2px);
        }

        input.long {
            width: 70%;
            white-space: nowrap;
            display: inline-block;
        }

    }

    footer {
        width: 80%;
        margin: 10px auto;
        text-align: center;

        button {
            display: inline-bock;
        }
    }

    &.filter {
        padding: 0 0 0.5em;
        border: none;
        width: 80%;
        .filter-input {
            border-width: 1px 0 1px 1px;
            display: inline-block;
            width: 40em;
            @include reset(1.6em);
            @include border-radius(3px, 0, 0, 3px);
        }

        button {
            display: inline-block;
            border: 1px solid $border-color;
            @include border-radius(0, 3px, 3px, 0);
            line-height: 1.6em;
            margin: 0;
            padding: 0 1em;
        }

        .selected-classifiers {
            margin: 0;
            padding: 0;
            float: right;
            li {
                display: inline-block;
                padding: 0.2em;
            }
        }
    }

}


body.login {

    form {

        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 400px;
        min-height: 300px;
        margin-top: -150px;
        margin-left: -150px;
        border: 1px solid $border-color;
        @include border-radius(5px, 5px, 5px, 5px);

        h1 {
            font-size: 2em;
            padding: 0 1.5em;
        }

        ul {
            padding: 0 3em;
        }
    }
}

body.delete {
    form {
        border: none;
    }
}
