.release-download {
    float: right;
    h5 {
        display: none;
    }
    a {
        display: inline-block;
        vertical-align: bottom;
        &.anchor {
            color: $alt-color;
            font-weight: bold;
            font-size: 2em;
            &:hover {
                text-decoration: none;
            }
        }
        &.download {
            border-radius: 3px;
            background-color: $alt-background-color;
            color: white;
            padding: 0.4em;
        }
    }
}

.release-summary {
    > h5 {
        @include reset;
        font-size: 2.5em;
        border: 0 solid $border-color;
        border-width: 0 0 1px 0;
    }

    .document {
        h1 {
            @include reset(1em, .2em);
            font-size: 1.6em;
        }
    }

}

.release-files {
    > h5 {
        @include reset;
        font-size: 1.8em;
    }
}