.release-download {
    float: right;
    h5 {
        display: none;
    }
    a {
        display: inline-block;
        vertical-align: bottom;
        &.anchor {
            color: $alt-color;
            font-weight: bold;
            font-size: 2em;
            &:hover {
                text-decoration: none;
            }
        }
        &.download {
            border-radius: 3px;
            background-color: $alt-background-color;
            color: white;
            padding: 0.4em;
        }
    }
}

.release-summary {

    > h5 {
        @include reset;
        font-size: 2.5em;
        border: 0 solid $border-color;
        border-width: 0 0 1px 0;
    }

    dl {
        float: right;
        overflow: auto;
        border: 1px solid #aaa;
        background-color: #ccc;
        min-width: 400px;
        margin: 2em 0 1em 1em;
        padding: 1.2em;
        color: #222;
        line-height: 1.5em;
        dt {
            float: left;
            min-width: 25%;
            font-weight: bold;
        }
        dd {
            display: block;
            ul {
                clear: both;
            }
        }

        form {
            border: none;
            display: inline;
        }
        button {
            background: $button-color;
            display: inline;
            border: 1px solid $button-border-color;
            border-radius: 3px;
        }

    }

    .document {
        h1 {
            @include reset(1em, .2em);
            font-size: 1.6em;
        }
    }

}

.release-files {
    > h5 {
        @include reset;
        font-size: 1.8em;
    }
}