include LICENSE
include *.txt *.ini *.cfg *.rst
recursive-include pyshop *.ico *.png *.css *.scss *.txt *.js *.html *.pot *.po *.pem
recursive-include pyshop *.eot
recursive-include pyshop *.svg
recursive-include pyshop *.ttf
recursive-include pyshop *.woff
recursive-include pyshop *.json
