{% extends "/pyshop/user/edit.html" %}


{% block form %}
    <ul>
        <li>
            <label>
                {% trans %}current password:{% endtrans %}
            </label>
            <input type="password" name="current_password" value=""/>
        </li>
        <li>
            <label>
                {% trans %}new password:{% endtrans %}
            </label>
            <input type="password" name="user.password" value=""/>
        </li>
        <li>
            <label>
                {% trans %}confirm password:{% endtrans %}
            </label>
            <input type="password" name="confirm_password" value=""/>
        </li>
    </ul>
{% endblock %}
