{% extends "/pyshop/user/edit.html" %}


{% block form %}
<div class="control-group">
  <label class="control-label" for="inputCPass"> {% trans %}current password:{% endtrans %} </label>
  <div class="controls">
    <input type="password"  id="inputCPass" 
           name="current_password" value=""/>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputNPass"> {% trans %}new password:{% endtrans %} </label>
  <div class="controls">
    <input type="password"  id="inputNPass" 
           name="user.password" value=""/>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputNCPass"> {% trans %}confirm password:{% endtrans %} </label>
  <div class="controls">
    <input type="password" id="inputNCPass"  placeholder=""
           name="confirm_password" value=""/>
  </div>
</div>

{% endblock %}
