{% extends "/pyshop/layout.html" %}


{% block header %}
    <script  type="text/javascript" src="{{ static_url('pyshop:static/js/bootstrap3-typeahead.js') }}"></script>
{% endblock %}


{% block subnav %}
{% endblock %}


{% block main %}

<form class="form-inline" role="form" method="GET">
  <!-- /input-group -->
  <div class="form-group">
    <label class="sr-only" for="classifier">Filter</label>
    <input type="text" id="classifier" class="form-control"  
           data-provide="typeahead" data-items="4"
           data-link="{{ static_url('pyshop:static/classifications.json') }}"
           name="classifier.added" value="" />
  </div>
  <button type="submit"  class="btn btn-primary" id="submitter" name="form.submitted"> Filter</button>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="source_local" name="local_only" value="1" onchange="$('#submitter').click()" 
               {%if filter.local_only%}checked="checked"{% endif %}/>
      {% trans %}locals only{% endtrans %}
    </label>
  </div>
  {% for name in filter.names %}
  <div class="checkbox">
    <label>
      <input type="checkbox" id="name_{{loop.index}}"
             onchange="$('#submitter').click()" name="names"
             checked="checked" value="{{name}}"/>{{name}}
    </label>
  </div>
  {% endfor %}
  {% for c in filter.classifiers %}
  <div class="checkbox">
    <label>
      <input type="checkbox" id="classifier_{{loop.index}}"
             onchange="$('#submitter').click()" name="classifiers"
             checked="checked" value="{{c.id}}"/> {{c.name}}
    </label>
  </div>
  {% endfor %}

</form>

<table class="table table-hover table-condensed">
<thead>
    <tr>
        <th>{% trans %} package {% endtrans %}</th>
        <th>{% trans %} last version {% endtrans %}</th>
        <th>{% trans %} # downloads {% endtrans %}</th>
        <th>{% trans %} source {% endtrans %}</th>
        <th>{% trans %} remove {% endtrans %}</th>
    </tr>
</thead>
<tbody>

    {% for pkg in packages %}
        <tr>
            <td>
                <a href="{{ route_url('show_package', package_name=pkg.name) }}">
                    {{ pkg.name }}
                </a>
            </td>
            <td class="num">{{ pkg.versions[0] }}</td>
            <td class="num">{{ pkg.downloads }}</td>
            <td class="num">
                {% if pkg.local %}
                    {% trans %} local {% endtrans %}
                {% else %}
                    {% trans %} mirror {% endtrans %}
                {% endif %}
            </td>
            <td>
                <a href="{{ route_url('purge_package', package_id=pkg.id) }}" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-sign"></span> purge
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>

<!--script>
    $(function() {
        $( "#classifier" ).typeahead({
            source: function(query, process) {
                return $.get('{{ static_url('pyshop:static/classifications.json') }}', 
                             { query: query }, 
                             function (data) {return process(data.options);}
                            );
            }
        });
console.log('toto');
});
</script-->
<script>
    $(function() {
      $(function () {
        $.getJSON('{{ static_url('pyshop:static/classifications.json') }}')
          .done(function (data) {
            $('#classifier').typeahead({ source: data });
          });
      });
    });
</script>
{% endblock %}
