{% extends "/pyshop/layout.html" %}

{% block subnav %}
    <h2>{% trans %}Available Packages{% endtrans %}</h2>
{% endblock %}


{% block main %}

<h4>{% trans %}Packages:{% endtrans %} ({{package_count}})</h4>
<table>
    <colgroup>
        <col class="label">
        <col class="version">
        <col class="download">
        <col class="source">
    </colgroup>
    <tr>
        <th>{% trans %} package {% endtrans %}</th>
        <th>{% trans %} last version {% endtrans %}</th>
        <th>{% trans %} # downloads {% endtrans %}</th>
        <th>{% trans %} source {% endtrans %}</th>
    </tr>

    {% for pkg in packages %}
        <tr>
            <td>
                <a href="{{ route_url('show_package', package_name=pkg.name) }}">
                    {{ pkg.name }}
                </a>
            </td>
            <td class="num">{{ pkg.releases[-1].version }}</td>
            <td class="num">{{ pkg.downloads }}</td>
            <td class="num">
                {% if pkg.local %}
                    {% trans %} local {% endtrans %}
                {% else %}
                    {% trans %} mirror {% endtrans %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
