{% extends "/pyshop/layout.html" %}

{% block subnav %}
    <h1>{{package.name}}</h1>
{% endblock %}

{% block toolbar %}
{% endblock %}

{% block main %}
    {% for f in release.files %}
        {% if f.package_type == 'sdist' %}
            <a class="btn btn-warning btn-lg active" role="button"
               href="{{ route_url('show_release_file', file_id=f.id, filename=f.filename)
                       }}#{{ f.md5_digest }}">Download Last version ({{f.filename}})</a>
        {% endif %}
    {% endfor %}

    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#Desc" data-toggle="tab">Description</a></li>
      <li><a href="#Classif" data-toggle="tab">Classification</a></li>
      <li><a href="#Release" data-toggle="tab">Release File</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="Desc">
        <div class="panel panel-default">
          <div class="panel-body">
            {{ parse_rest(release.description) }}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Classif">
    <dl class="dl-horizontal">
        <dt>{% trans %}Type:{% endtrans %}</dt>
        <dd>{% if release.package.local %}
                {% trans %}local{% endtrans %}
            {% else %}
                {% trans %}mirrored{% endtrans %}
            {% endif %}
        </dd>
        {% if not release.package.local %}
            <dt>PyPI</dt>
            <dd><a href="https://pypi.python.org/pypi/{{release.package.name}}">
                    https://pypi.python.org/pypi/{{release.package.name}}
                </a></dd>
            <dt>Last Update</dt>
            <dd>{% if release.package.update_at %}
                    {{release.package.update_at}}
                    <form action="{{route_url('show_package', package_name=release.package.name)}}" method="post">
                        <button name="form.refresh_package">
                            {% trans %}refresh{% endtrans %}
                        </button>
                    </form>
                {% else %}
                    {% trans %}refreshing during next install{% endtrans %}
                {% endif %}
            </dd>
        {% endif %}
        <dt>{% trans %}Home page:{% endtrans %}</dt>
        <dd><a href="{{release.home_page}}">{{release.home_page}}</a></dd>
        <dt>{% trans %}Author:{% endtrans %}</dt>
        <dd>{{release.author.name}}</dd>
        <dt>{% trans %}Classifiers:{% endtrans %}</dt>
        <dd>
            <ul class="classifiers">
                {% for c in release.classifiers %}
                    {% if not c.childs %}
                        <li>{{c.name}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </dd>
        {% if release.keywords %}
            <dt>{% trans %}Keywords:{% endtrans %}</dt>
            <dd>{{release.keywords}}</dd>
        {% endif %}
    </dl>

      </div>
      <div class="tab-pane fade" id="Release">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
            <th>{% trans %} files {% endtrans %}</th>
            <th>{% trans %} version {% endtrans %}</th>
            <th>{% trans %} author {% endtrans %}</th>
            <th>{% trans %} downloads {% endtrans %}</th>
        </tr>
       </thead>
      <tbody>
        {% for release in package.sorted_releases %}
        {% for file in release.files %}
        <tr>
            <td>
                <a class="download"
                   href="{{ route_url('show_release_file', file_id=file.id,
                            filename=file.filename)
                           }}#{{ file.md5_digest }}">{{file.filename}}
                </a>
            </td>
            <td class="num">
                v{{ release.version }}
            </td>
            <td>
                {{ release.author.login }}
            </td>
            <td class="num">{{ file.downloads }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>

      </div>
    </div>



{% endblock %}
